/* Estilo global */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/***** VISTA BACKEND *******/
/* Zona del Aforo Total */
.aforo-total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aforo-total-texto{
    font-size: 3rem;
}
  
.aforo-cantidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8rem;
}
  
.alert-warning {
    padding: 20px;
    background-color: #ddcf8a;
    border-radius: 20px;
    font-size: 2rem;
    margin-bottom: 20px;
}
.alert-max {
    padding: 20px;
    background-color: #d9b2b2;
    border-radius: 20px;
    font-size: 2rem;
    margin-bottom: 20px;
}
.negative {
    color: red;
}
  
/* Zona de Cámaras */
.camaras-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espacio entre cámaras */
}
  
/* Zona del Aforo de Cámaras y Aforo Manual */
.aforo-inferior-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
  
/* Pie de página */
.footer {
    text-align: center;
    margin-top: 20px;
}

/* Zona de Cámaras */
.camaras-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea tres columnas */
    grid-gap: 20px; /* Espacio entre los elementos de la cuadrícula */
    margin-bottom: 40px; /* Espacio debajo del contenedor de cámaras */
}
  
.camaras-container h3,
.camaras-container p {
    margin: 5px 0; /* Espaciado entre los elementos dentro de cada cámara */
}

.camara-item {
    padding: 15px;
    border: 1px solid #ccc; /* Borde ligero para cada cámara */
    border-radius: 10px; /* Esquinas redondeadas */
    background-color: #f7f7f7; /* Color de fondo para cada cámara */
    text-align: center; /* Centrar texto */
}

/* Zona de Información a la Derecha */
.info-derecha-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
  
.aforo-camaras, .aforo-manual {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
    margin-bottom: 20px; /* Espacio entre los bloques */
}
  
.aforo-manual {
    padding-top: 30px;
    padding-bottom: 30px;
}
  
/* Botones */
#sumarPersonaBtn, #restarPersonaBtn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
#sumarPersonaBtn {
    background-color: #BBD0BE; /* Color verde */
}
  
#restarPersonaBtn {
    background-color: #D9B2B2; /* Color rojo */
}

/* Efecto hover para los botones */
#sumarPersonaBtn:hover, #restarPersonaBtn:hover {
    /* Cambia el color de fondo ligeramente más oscuro o claro al pasar el mouse */
    filter: brightness(90%);
}
  
/* Efecto active para los botones */
#sumarPersonaBtn:active, #restarPersonaBtn:active {
    /* Cambia el color de fondo para efecto pulsado */
    filter: brightness(80%);
    /* Pequeña translación para simular que el botón se presiona */
    transform: translateY(2px);
}
  
/* El cursor cuando pase sobre los botones */
#sumarPersonaBtn, #restarPersonaBtn {
    cursor: pointer;
}
  
/* Contenedor Principal de la Mitad Inferior */
.contenedor-inferior {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start; /* Alinear los elementos al principio */
}

.refresh-btn {
    padding: 10px 15px;
    background-color: #69b1b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.refresh-btn:hover {
    background-color: #6e73af;
}

/******* VISTA FRONTEND **********/
.aforo-simple-container {
    text-align: center;
    padding: 20px;
}

.logo-empresa {
    width: 500px;
    margin: 0 auto 30px; /* Centrar y dar espacio debajo */
}

.aforo-total-simple {
    margin-top: 10px;
    font-size: 5rem; 
}

/*cantidad aforo simple*/
.aforo-simple #aforoTotal {
    font-size: 23rem;
    color: #333;
    font-weight: bold;
}

.aforo-aviso-simple {
    font-size: 2rem;
}

/************ VISTA FRONTEND AVISOS ***********/
/* Estilos específicos para la página de avisos con la clase 'aforo-simple-avisos' en el body */
body.aforo-simple-avisos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f4f4f4;
}

body.aforo-simple-avisos .aforo-simple-container {
    text-align: center;
    width: 100%;
}

body.aforo-simple-avisos .logo-empresa {
    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
}

body.aforo-simple-avisos .aforo-aviso-simple {
    font-size: 2.5rem;
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #d9534f; /* Ajusta el color según la alerta */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 70%;
    margin: 0 auto;
}

body.aforo-simple-avisos .alert-max {
    background-color: #d9534f;
}

body.aforo-simple-avisos .alert-warning {
    background-color: #f0ad4e;
}

body.aforo-simple-avisos .aforo-total {
    font-size: 0.1px; /* Hace el texto extremadamente pequeño */
    color: transparent; /* Hace el texto transparente */
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* Evita que el texto se envuelva */
}